form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}

form h2 {
    font-family: "Karla", sans-serif;
    color: #495E57;
    text-align: center;
}

.form-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.form-title img{
    filter: invert(32%) sepia(26%) saturate(285%) hue-rotate(109deg) brightness(98%) contrast(89%);
    height: 20px;
}

label {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    color: gray;
    margin-top: 20px;
}

input, select {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    border: 1px solid gray;
    padding: 10px;
}

.field-error {
    font-family: "Karla", sans-serif;
    font-size: 14px;
    color: red;
}

.num-of-guests {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.num-of-guests label{
    margin-top: 0;
}

.num {
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: "Karla", sans-serif;
    font-size: 20px;
    gap: 20px;
    border: 1px solid grey;
}

.submit-button:disabled {
    background-color: rgb(171, 171, 171);
    color: white;
}

.submit-button {
    background-color: #F4CE14;
    font-family: "Karla", sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin: 40px 0;
    border-radius: 8px;
    padding: 10px;
    border: none;
}

/* phone device */
@media only screen and (min-width: 320px) {
    .reservation-form {
        box-shadow: 0 0;
    }
}

/* tablet device */
@media only screen and (min-width: 641px){
    .reservation-form {
        border-radius: 8px;
        box-shadow: 11px 11px 15px -6px rgba(0,0,0,.1), -11px -11px 15px -6px rgba(0,0,0,.1), -11px 11px 15px -3px rgba(0,0,0,.1), 11px -11px 15px -3px rgba(0,0,0,.1);
        margin: 60px auto;
        max-width: 550px;
    }
}