footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    margin: 120px 0 120px 0;
    padding-top: 60px;
    box-shadow: 0 -1px 3px rgba(0,0,0,.1), 0 -2px 2px rgba(0,0,0,.06), 0 0 2px rgba(0,0,0,.07);
}

footer > img {
    height: 140px;
    width: 80px;
    align-self: center;
    margin-left: 30px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 30px 0 30px;
}

.footer-wrapper > div > h4 {
    padding-bottom: 1rem;
}

.footer-wrapper > div > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.footer-wrapper > div > ul > a {
    font-family: "Karla", sans-serif;
    text-decoration: none;
    color: black;
}

.footer-wrapper > div > ul > li {
    font-family: "Karla", sans-serif;
}

/* tablet device */
@media only screen and (min-width: 641px){
    .footer-wrapper {
      display: flex;
      flex-direction: row;
    }
} 

/* desktop device */
@media only screen and (min-width: 961px){
    footer {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    footer > img {
        align-self: auto;
    }
}