.highlight-container {
    display: flex;
    flex-direction: column;
    max-width: 2000px;
}

.highlight-item-img-container > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.highlight-item-img-container {
    height: 200px;
}

.highlight-section {
    display: flex;
    justify-content: center;
    margin: 120px 30px;
}

.highlight-banner {
    margin-bottom: 15px;
}

.highlight-banner > h1 {
    color: black;
}

.highlight-banner button {
    border: none;
    background-color: #F4CE14;
    border-radius: 8px;
    height: 40px;
    width: 150px;
    color: #333333;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 900;
    margin: 10px 0;
  }

.item-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.item-wrapper button {
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    text-align: left;
    margin: 0;
}

.item-wrapper > a > button > img {
    height: 16px;
    margin-left: 10px;
    filter: invert(21%) sepia(0%) saturate(0%) hue-rotate(187deg) brightness(50%) contrast(98%);
}

.item-wrapper > p {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin: 15px 0;
}

.highlight-card {
    display: grid;
    gap: 1em;
}

.highlight-item {
    background-color: #EDEFEE;
    border-radius: 8px 8px 0 0;
}

.item-price > h4 {
    font-family: "Markazi Text", serif;
    font-weight: 600;
    font-size: 20px;
}

.item-price > h5 {
    font-family: "Karla", sans-serif;
    color: #EE9972;
    font-size: 16px;
}

.item-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* phone device */
@media only screen and (min-width: 320px){
    .highlight-container {
        display: block;
    }
}

/* tablet device */
@media only screen and (min-width: 641px){
    .highlight-container {
        display: grid;
    }

    .highlight-banner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .highlight-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .item-wrapper > p {
        min-height: 100px;
    }
}

/* desktop device */
@media only screen and (min-width: 961px){
    .highlight-section {
        margin: 120px;
    }
    
    .highlight-container {
        gap: 10%;
    }

    .highlight-card {
        grid-template-columns: 1fr 1fr 1fr;
    }
}